<?xml version="1.0" encoding="utf-8"?><routes><route cost="169.86559694392759" cities="3" team="Tonatiuh"><city name="campo base" id="0"></city><city name="Tikal" id="2"></city><city name="Teotiguacan" id="4"></city></route><route cost="169.86559694392759" cities="3" team="Metztli"><city name="campo base" id="0"></city><city name="Tikal" id="2"></city><city name="Teotiguacan" id="4"></city></route></routes>